# Python / venv
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# NOTE:
# pos.db sengaja TIDAK di-ignore agar ikut terupload ke GitHub (sesuai permintaan).
